body {
  background: blanchedalmond;
  margin: 0;
  padding: 0;
}
.container{
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}
.a{
  background-color: blue;
  flex-grow: 1;
}
.b{
  background-color: darkcyan;
  flex-grow: 3;
}
.c{
  background-color: darkslateblue;
  flex-grow: 1;
}