body{
  background: blanchedalmond;
}
.container{
  width: 100%;
  height: 100vh;
  background: darkcyan;
  display: flex;
  flex-direction: column;
}
.container > div{
  background: darkslateblue;
  margin: 15px;
  box-sizing: border-box;
  font-size: 60px;
  color: blanchedalmond;
  text-align: center;
}
.a{
  flex-grow: 1;
}
.b{
  flex-grow: 6;
}
.c{
  flex-grow: 1;
}