* {
  box-sizing: border-box;
}
body {
  background: papayawhip;
}
.container {
  width: 100%;
  height: 100vh;
  background: darkcyan;
  display: flex;
  flex-direction: column;
}
.a,
.b,
.c,
.d,
.e,
.f {
  background: darkslateblue;
  margin: 10px;
  font-size: 60px;
  color: blanchedalmond;
  text-align: center;
}
.b {
  min-height: 35vh;
}
.row {
  display: flex;
  justify-content: space-between;
}
.c,
.d,
.e {
  width: 30%;
}

@media (min-width: 600px) {
}
