* {
  box-sizing: border-box;
}
body {
  background: papayawhip;
}
.container {
  width: 100%;
  height: 100vh;
  background: darkcyan;
  display: flex;
  flex-direction: column;
}
.a,
.b,
.c,
.d,
.e,
.f {
  background: darkslateblue;
  margin: 10px;
  font-size: 60px;
  color: blanchedalmond;
  text-align: center;
}
.a,
.f {
  flex-grow: 1;
}
.b {
  min-height: 45vh;
}
.row {
  display: flex;
  justify-content: space-between;
  min-height: 20vh;
}
.c,
.d,
.e {
  width: 30%;
}

@media (min-width: 600px) {
  .container {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .a {
    width: 100vw;
  }
  .box {
    width: 75vw;
    height: 45vh;
  }
  .b,
  .row {
    min-height: 0vh;
    height: 32.5vh;
  }
}
