body {
  background: papayawhip;
}
.container {
  width: 100%;
  height: 100vh;
  background: darkcyan;
  display: flex;
  flex-wrap: wrap;
}
.a, .b, .f {
  background: darkslateblue;
  margin: 10px;
  box-sizing: border-box;
  font-size: 60px;
  color: blanchedalmond;
  text-align: center;
}
.a {
  width: 100vw;
}
.b {
  width: 100vw;
  min-height: 35vh;
}
.row{
  display: flex;
  width: 100vw;
  justify-content: space-between;
  margin: 10px;
  font-size: 60px;
  color: blanchedalmond;
  text-align: center;
}
.c, .d, .e{
  background: darkslateblue;
  width: 30%;
}
.f {
  width: 100vw;
}

@media(min-width:600px){
}